.jumbotron {
  background-image: url("../img/grass.jpg");
  margin: none;
  border-radius: none;
  height: 700px;
}

.navbar-btn {
  margin-top: 18px;
}

.btn-clear {
  background: none;
  border: none;
}

.navbar {
  margin: 0;
  height: 72px;
}

#nav_logo {
  height: 36px;
  position: fixed;
  top: 18px;
}

#main-tagline {
  color: #f3f3f3;
  text-shadow: 0px 0px 15px pink;
  margin-top: 50px;
}
