* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

.jumbotron {
  background-image: url("../img/pyromancer-bg.jpg");
  background-size: 130%;
  margin: none;
  border-radius: none;
  height: 700px;
}

.navbar-btn {
  margin-top: 18px;
}

.btn-clear {
  background: none;
  border: none;
}

.navbar {
  margin: 0;
  height: 72px;
  box-shadow: 0 0 15px #333;
  border-radius: 0;
}

#nav_logo {
  height: 50px;
  position: absolute;
  top: 10px;
}

#nav_tag {
  position: absolute;
  left: 72px;
  top: 38px;
  font-size: 26px;
  font-style: italic;
  text-shadow: 1px 1px 2px grey;
  color: #444;
}

#main-tagline, #main-subtagline, .main-button {
  color: #f3f3f3;
  text-shadow: 0px 0px 15px black;
}

#main-tagline {
  margin-top: 50px;
}

#main-subtagline {
  margin-top: 30px;
}

.main-button {
  background: none;
  padding: 15px 30px;
  font-size: 20px;
  border: 3px solid white;
}

.main-button:hover {
  color: white;
  background-color: rgba(102, 0, 0, 0.7);
  margin-top: -5px;
  box-shadow: 0px 5px 10px black;
}

.inner-overlay {
  padding-top: 60px;
}

.overlay-box {
  padding-top: 45px;
  text-align: center;
  background-color: #EEE;
  height: 700px;
}

.three-options {
  margin-left: 15%;
  margin-right: 15%;
}

.three-option-img {
  height: 100px;
  margin: 10px 0;
}

.overlay-form {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

.hire-sub-tag {
  margin: 40px;
}

#facemancer-btn {
  margin-top: 30px;
}

#break-or {
  margin: 30px 0;
  font-style: italic;
}

.overlay {
  position: absolute;
  top: 72px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.close {
  font-size: 40px;
  font-weight: 100;
}
