<div class="overlay-box">
  <div class="container">
    <span class="close" ng-click="toggleHirebox()">X</span>
    <div class="inner-overlay">
      <h3>Hire freemancers for a fraction of the sacrifice!</h3>
      <div class="row three-options">
        <div class="col-sm-4">
          <img src="img/tree.png" alt="tree" class="three-option-img">
          <p>
            Post your sorcery in the blink of a goat's eye
          </p>
        </div>
        <div class="col-sm-4">
          <img src="img/water.png" alt="water" class="three-option-img">

          <p>
            Compare sacrifices and select bidders
          </p>
        </div>
        <div class="col-sm-4">
          <img src="img/flame.png" alt="flame" class="three-option-img">
          <p>
            Sacrifice only once the darkness has receded
          </p>
        </div>
      </div>
      <form class="overlay-form">
        <div class="form-group">
          <select id="mancy-dropdown" class="form-control">
            <option value="" disabled selected>Select your -mancy...</option>
            <option value="pyro">Pyromancy</option>
            <option value="pyro">Aquamancy</option>
            <option value="pyro">Necromancy</option>
            <option value="pyro">Photomancy</option>
          </select>
        </div>
        <button type="submit" class="btn btn-warning btn-xlg">Get sacrifing now</button>
      </form>
      <h5 class="hire-sub-tag"><a href="#">Looking for freemancing?</a></h5>
    </div>
  </div>
</div>
