<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1 id="main-tagline">Today is the day you turn your souls into mana.</h1>
        <h4 id="main-subtagline">
          Millions of small sorcerers post their online jobs on Freemancer.com.
          Find an expert freemancer to bring your undead to life!
        </h4>
        <div class="main-tag-buttons">
          <button class="btn btn-default main-button" ng-click="toggleHirebox()">
            HIRE
          </button>
          <button class="btn btn-default main-button" ng-click="toggleWorkbox()">
            WORK
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
