<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-left">
      <a href="" class="navbar-brand">
        <img id="nav_logo" src="img/Freelancerlogo.png" alt="Freelancer logo">
        <p id="nav_tag">Freemancer</p>
      </a>
    </div>
    <div class="navbar-right navbar-header">
      <a ng-click="toggleLoginbox()" class="btn btn-default navbar-btn btn-clear">LOGIN</a>
      <a ng-click="toggleSignupbox()" class="btn btn-default navbar-btn btn-clear">SIGN UP</a>
      <a class="btn btn-warning navbar-btn">Post a Project</a>
    </div>
  </div>
</nav>
