<div class="overlay-box">
  <div class="container">
    <span class="close" ng-click="toggleSignupbox()">X</span>
    <div class="inner-overlay">
      <h3>Bind your soul for free today!</h3>
      <button id="facemancer-btn" class="btn btn-primary glyphicon glyphicon-eye-open">
        Sign up with Facemancer
      </button>
      <p id="break-or">or</p>
      <form class="overlay-form">
        <div class="form-group">
          <input type="text" placeholder="Raven Address" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" placeholder="Mancername" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" placeholder="Spell of Secrets" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" placeholder="Comfirm Spell of Secrets" class="form-control">
        </div>
        <div class="form-group">
          <input type="radio" name="porpoise" value="hire" checked> Hire
          <input type="radio" name="porpoise" value="work"> Work
        </div>
        <button type="submit" class="btn btn-success">Bind Soul</button>
      </form>
    </div>
  </div>
</div>
