<div class="overlay-box">
  <div class="container">
    <span class="close" ng-click="toggleWorkbox()">X</span>
    <div class="inner-overlay">

      <h3>Become a freemancer and earn mana!</h3>
      <div class="row three-options">
        <div class="col-sm-4">
          <img src="img/tree.png" alt="tree" class="three-option-img">
          <p>
            Browse scrolls matching your skills
          </p>
        </div>
        <div class="col-sm-4">
          <img src="img/water.png" alt="water" class="three-option-img">
          <p>
            Conjure your undead legion army
          </p>
        </div>
        <div class="col-sm-4">
          <img src="img/flame.png" alt="flame" class="three-option-img">
          <p>
            Take over the world
          </p>
        </div>
      </div>
      <div class="signup">
        <button id="facemancer-btn" class="btn btn-primary glyphicon glyphicon-eye-open"> Sign up with Facemancer</button>
        <p id="break-or">or</p>
        <a href="#">Sign up with from the citedal. Contact your local maester.</a>
      </div>
      <h5 class="work-sub-tag"><a href="#">Looking to hire?</a></h5>
    </div>
  </div>
</div>
